.add-doc{
    color: rgb(127, 215, 252);
}

.custom-mat-card :hover{
    transform: scale(1.13);
}

table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .filterBox{
    margin-top: 10px;
  }