<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 mt-3">
            <mat-card class="makeAppointment" (click)="addAppointment()">
                <mat-card-content class="custom-mat-card">
                    New Appointment <br>
                    <mat-icon>calendar_month</mat-icon>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <br>
    <mat-divider></mat-divider>

    <mat-card class="m-3">
        <mat-card-title class="custom-mat-card">
            {{patient.patientFName + ' ' + patient.patientLName}}
        </mat-card-title>

        <mat-card-subtitle>
                {{patient.condition}}
        </mat-card-subtitle>

        <mat-divider></mat-divider>

        <div class="row pt-3">
            <div class="col-md-6">
                <mat-card-content>
                    <span>Email: </span>{{patient.email}} <br>
                </mat-card-content>

                <mat-card-content>
                    <span>Phone: </span>{{patient.phone}} <br>
                </mat-card-content>

                <mat-card-content>
                    <span>Admission date: </span> {{patient.admissionDate}}<br>
                </mat-card-content>
            </div>
        </div>

        <div class="col-md-6">
            <mat-card-content>
                <span> Gender: </span>{{patient.gender}} <br>
                <span> Blood type: </span>{{patient.bloodType}} <br>
                <span>Rhesus:</span> {{patient.rhesus}}<br>
                <span>Diagnosis:</span> {{patient.diagnosis}} <br>
            </mat-card-content>
        </div>

    </mat-card>

</div>
