<mat-card class="m-3">
    <mat-card-title class="custom-mat-card">
        {{patientObj.patientFName + ' ' + patientObj.patientLName}}
    </mat-card-title>

    <mat-card-subtitle>{{patientObj.condition}}</mat-card-subtitle>
    <mat-divider></mat-divider>

    <div class="row pt-3">
        <div class="col-md-6">
            <mat-card-content>
                <span>Email : </span>{{patientObj.email}} <br>
                <span>Phone : </span>{{patientObj.phone}} <br>
            </mat-card-content>
        </div>
    </div>

    <div class="col-md-6">
        <mat-card-content>
            <span> Gender : </span> {{patientObj.gender}} <br>
            <span> Diagnosis : </span> {{patientObj.diagnosis}} <br>
        </mat-card-content>
    </div>

    <div class="col-md-6">
        <mat-card-content>
            <span> Blood type : </span> {{patientObj.bloodType}} <br>
            <span> Rhesus : </span> {{patientObj.rhesus}} <br>
        </mat-card-content>
    </div>

    <div class="col-md-6">
        <mat-card-content>
            <span> Admission date : </span> {{patientObj.admissionDate}} <br>
            <span> Discharge time : </span> {{patientObj.dischargeTime}} <br>
        </mat-card-content>
    </div>

</mat-card>
