<mat-card class="m-3">
    <mat-card-title class="custom-mat-card">
        {{doctorObj.empFName + doctorObj.empLName}}
    </mat-card-title>
    <mat-card-subtitle>
        {{doctorObj.specialization}}
    </mat-card-subtitle>

    <mat-divider></mat-divider>

    <div class="row pt-3">
        <div class="col-md-6">
            <mat-card-content>
                <span>Employer type : </span>{{doctorObj.empType}} <br>
                <span>Qualification : </span>{{doctorObj.qualification}} <br>
                <span>Email : </span>{{doctorObj.email}} <br>
                <span>Address : </span>{{doctorObj.address}} <br>
            </mat-card-content>
        </div>
    </div>

    <div class="col-md-6">
        <mat-card-content>
                <span>Date joining : </span>{{doctorObj.dateJoining}} <br>
                <span>Date separation : </span>{{doctorObj.dateSeparation}} <br>
                <span> SSN : </span> {{doctorObj.ssn}} <br>
        </mat-card-content>
    </div>

</mat-card>
