<h2 mat-dialog-title>{{title}}</h2>
<mat-divider></mat-divider>

<mat-dialog-content [formGroup]="form" class="custom-dialog-content">
    <mat-grid-list cols="2">

        <mat-grid-tile>
            <div>
                <mat-form-field>
                    <mat-label>Enter your first name</mat-label>
                    <input matInput placeholder="Illia" formControlName = "empFName" required>

                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Enter your last name</mat-label>
                    <input matInput placeholder="Khveshchuk" formControlName = "empLName" required>

                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName = "email" required>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Enter your address</mat-label>
                    <input matInput placeholder="Lviv, Lukasha 5" formControlName = "address" required>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Qualification</mat-label>
                    <input matInput placeholder="MBBS" formControlName = "qualification" required>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Specialization</mat-label>
                    <input matInput placeholder="Cardiologist" formControlName = "specialization" required>
                  </mat-form-field>


            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div>

              <mat-form-field>
                <mat-label>Employer type</mat-label>
                <input matInput placeholder="Higher doctor" formControlName = "empType" required>
              </mat-form-field>

              <mat-form-field>
                <mat-label>SSN</mat-label>
                <input matInput placeholder="SSN" formControlName = "ssn" required>
              </mat-form-field>

                <mat-form-field>
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="department" name="department" [(value)]="this.department">
                        <mat-option *ngFor="let department of departments" [value]="department">{{department}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Schedule</mat-label>
                    <mat-select formControlName="scheduleId" name="scheduleId">
                        <mat-option *ngFor="let schedule of this.listSchedules" [value]="schedule">{{schedule}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Date joining</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateJoining">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <!-- <mat-error *ngIf="form.get('date_joining')?.invalid || form.get('date_joining')?.dirty || form.get('date_joining')?.touched">Enter valid date</mat-error> -->
                  </mat-form-field>

            </div>
        </mat-grid-tile>

    </mat-grid-list>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close (click)="cancelRegistration()">Cancel</button>
    <button mat-raised-button color="primary" mat-dialog-close (click)="registerDoctor()">{{this.buttonName}}</button>
  </mat-dialog-actions>
